<template>
  <div class="container max-w-7xl mx-auto">
    
    <div v-for="album in albums" :key="album.index">
      <!-- <h1>{{ album.userId }}</h1> -->
      <router-link :to="`/photos/${album.id}`" class="text-3xl font-semibold">{{ album.title }}</router-link>    
    </div>
    
  </div>
</template>

<script>
// @ is an alias to /src

import axios from 'axios'
export default {
  name: 'Home',
  data(){
    return {
      albums: {}
    }
  },

  mounted(){
    axios.get('https://jsonplaceholder.typicode.com/albums')
    .then(response => (this.albums = response.data))
  }
  
}
</script>
