<template>
  <div class="container max-w-7xl mx-auto">

    

    <div class="flex flex-wrap">

        <div v-for="photo in photos" :key="photo.index" class="w-full sm:w-1/2 md:w-1/2 xl:w-1/5 p-4">
            
            <img :src="photo.thumbnailUrl" alt="photo">
            <h1>{{ photo.id }}</h1>

        </div>
    </div>

    
    
  </div>
</template>

<script>
import axios from 'axios'

export default {

    data(){
        return {
            photos: []
        }
    },

    async created(){
        const response = await axios.get(`https://jsonplaceholder.typicode.com/photos/?albumId=${this.$route.params.id}`)
        this.photos = response.data
    },

}
</script>

<style>

</style>